body {
  background: #23001e;
  max-height: 100vh;
}

.container {
  position: relative;
  width: 100px;
  background: #9f9f92;
  border-radius: 10px;
  padding: 3.5rem;
  margin: 100px auto;
  box-shadow: 4px 2px 2.5px 0.5px rgba(0, 0, 0, 0.2),
    8px 2px 2.5px 1px rgba(0, 0, 0, 0.3);
}
.profile {
  position: relative;
}
img {
  height: 100px;
  width: 100px;
  background: center/cover no-repeat;
  border-radius: 50%;
}
.pro {
  background: #23001e;
  padding: 1px 8px;
  color: rgba(255, 255, 0, 0.6);
  font-weight: lighter;
  border-radius: 45%;
  position: absolute;
  bottom: -17px;
  left: 30px;
}
.name {
  text-align: center;
  margin-bottom: 5px;
  color: #23001e;
}
.btn {
  text-align: center;
  margin-top: 15px;
  background: #23001e;
  border-radius: 20px;
  color: rgba(255, 255, 0, 0.6);
  padding: 5px 0;
}
.name {
  position: relative;
}
.flex-part {
  display: flex;
  align-items: center;
  justify-content: center;
}
.svg {
  margin-right: 10px;
}

.container::before {
  content: '';
  width: 100%;
  height: 100%;
  border: 1px solid white;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1.5px 0.5px rgba(255, 255, 255, 0.6);
  position: absolute;
  top: -50px;
  right: 50px;
  z-index: -2;
}

.container::after {
  content: '';
  border: 1px solid white;
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  bottom: -50px;
  left: 110px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1.5px 0.5px rgba(255, 255, 255, 0.6);
}
