@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

body {
  background: #ebf3fb;
}
h3 {
  color: #121258;
  text-align: center;
  font-family: 'Montserrat';
  font-weight: 700;
  padding-bottom: 4px;
}
.container {
  background: rgba(255, 255, 255, 0.8);
  margin: 100px auto;
  max-width: 400px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 3px 3px 6px 0.5px rgba(255, 255, 255, 0.5);
}
.items {
  padding: 0 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.first-item {
  text-align: center;
  margin-right: 8px;
  padding: 8px;
  width: 33.33%;
  border: 1px solid rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  background: linear-gradient(to top, #baa9c1, rgba(245, 7, 213, 0.924));
}
.items img {
  height: 30px;
  width: 25px;
}
.items p {
  font-family: 'Montserrat';
  font-weight: 300px;
}
.second-item {
  text-align: center;
  margin-right: 8px;
  padding: 8px;
  width: 33.33%;
  border: 1px solid rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  background: linear-gradient(to bottom, #84749c, rgba(7, 230, 246, 0.9));
}
.third-item {
  text-align: center;
  padding: 8px;
  width: 33.33%;
  border: 1px solid rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  background: linear-gradient(to top, #7c849c, rgba(233, 38, 12, 0.8));
}

.card img {
  height: 30px;
  width: 25px;
}
.btn {
  border: 1px solid #121258;
  border-radius: 10px;
  background: #121258;
  padding: 6px;
  color: white;
  width: 200px;
  text-align: center;
  box-shadow: 2px 2px 1.5px 0.5px #121258;
}
.card p {
  font-family: 'Montserrat';
  font-weight: 300;
}
.card div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  margin: -16px auto 0 auto;
  background: rgba(255, 255, 255, 0.8);
  max-width: 250px;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 3px 3px 6px 0.5px rgba(255, 255, 255, 0.5);
}
.list {
  margin-top: 0;
  margin-bottom: -1px;
}
